@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
  margin: 0;
}

/* Sections */
section {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} 

.hidden {
  opacity: 0;
  transition: ease 3s;
}

.show {
  opacity: 1;
}

.background {
  background-image: linear-gradient(#B978DA 20%, #FCF6FF 80%);
}

h1{
  margin: 0;
  height: 30px;
}

p {
  margin: 0;
  height: 20px;
}

#cloud{
  max-width: 30%;
  max-height: 20%;
  align-items: last baseline ;
}

/* styles.css (or your preferred stylesheet) */
.box {
  width: 200px;
  height: 200px;
  background-color: #FCF6FF;
  border: 1px solid #B978DA;
  padding: 16px;
  text-align: left;
}

/* ImageTextOverlap.css */

.container {
  position: relative; /* Position the container relative to its parent */
  max-width: 100%; /* Ensure the container is responsive */
}

.leftcloud {
  max-width: 75%; /* Ensure the image is responsive */
}

.text {
  position: absolute; /* Position the text absolutely within the container */
  top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
  font-size: x-large;
}

.rightcloud {
  align-self: right;
  max-width: 100%;
}

#lcloud {
  align-items: left;
}

.title {
  font-size: 10rem;
  font-weight: 300;
  color: rgb(243, 207, 255);
}

.mainblurb {
  font-size: 5rem;
  font-weight: 300;
  color: rgb(243, 207, 255);
  /* color: rgb(226, 190, 237); */
}

.normtext {
  font-size: 4rem;
  font-weight:300;
  color: rgb(140, 61, 167);
  margin: 3rem;
  text-align: center;
}